.text-pop-up-top {
	-webkit-animation: text-pop-up-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: text-pop-up-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

* {
    margin: 0;
    padding: 0;
}
body {
    background-image: url('img/1305928.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

